// Reset css
button,
input,
textarea{
  font-size: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  // background: transparent;
  // border: 0;
}
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active{
  box-shadow: none;
  outline: none;
}


// 탑 소희님 

.top{
  position: relative;
}
.header-wrap{
  position: fixed;
  border-bottom:1px solid #ddd;
  background-color:#fff;
  width: 100%;
  z-index: 10;
}
header{
  width:100%; height:53px;
  margin: 0 auto;
  max-width: 935px;
  display: flex;

  .logo{
    padding-top: 1.7%;
    width:103px; height:29px;
    cursor: pointer;
  }
  .search{
    position: fixed;
    width:210px;
    top:1.5%; left:44.5%;
    text-align: center;
    font-size:0.9rem;
    color:gray;
    background-color: #fafafa;
    border-radius:3px;
    border: 1px solid #ddd;
    padding: 4.5px;
  }
  .searchicon{

  }
  .icon{
    position: fixed;
    top:1.7%; left:60.6%;

    .nav-icon{
      margin-left:22px;
      cursor: pointer;
    }
    .profile{
      width: 22px; height: 22px;
      margin-left:22px;
      cursor: pointer;
    }
  }
}



// Main separation 스토리+포스트
.main{
  width: 60%; 
  max-width: 935px;
  width: 100%;
  margin: 0 auto;
  padding-top: 84px;
  display: flex;
  overflow: hidden;
  display: flex;
  overflow: hidden;
  padding-top: 84px;
  .main-left{
    padding-right: 28px;

  }
  .main-right{
    max-width: 293px;
    width: 100%;
    position: fixed;
    left: 1126px; top: 88px;
    //FIX 위치 잡기 
  }


// 스토리 윤서님
.story{
  width: 612px; height: 84px;
  background-color: rgba(var(--d87,255,255,255),1);
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 3px;
  padding: 16px 0;
  margin-bottom: 24px;
  margin-top: 50px;
  position: relative;
  .story-contents{
    width: 100%; height: 100%;
    overflow: hidden;
    .story-item{
      width: 100%;
      display: flex;
      margin: 0;
      padding: 0;
      padding-left: 10px;
      li{
        list-style: none;
        div{
          flex-shrink: 0;
          width: 72px; height: 84px;
          padding: 0 4px; 
          position: relative;
          cursor: pointer;
          
            .story-svg{
              position: absolute;
              left: 50%; top: 22%;
              transform: translate(-50%, -30%);
  
              width: 76px; height: 76px;
              border-radius: 100%;
            }
            .story-img{
              position: absolute;
              left: 50%; top: 26%;
              transform: translate(-50%, -28%);
              
              background-color: #eee;
              width: 54px; height: 54px;
              border-radius: 100%;
              overflow: hidden;
            }
            p{
              position: absolute;
              top: 68px; left: 50%;
              transform: translateX(-50%);
  
              display: block;
              color: #262626;
              font-size: 12px;
              line-height: 16px;
              text-align: center;
              margin: 0 auto;
            }
        }
      }
    }
  }
  .story-arrow{
    
    .story-leftarrow{
      outline: 0;border: 0;
      background-color: transparent;

      position: absolute;
      left: 0; top: 50%;
      transform: translateY(-50%);
    }
    .story-rightarrow{
      outline: 0;border: 0;
      background-color: transparent;

      position: absolute;
      right: 0; top: 50%;
      transform: translateY(-50%);  
    }
  }
}


// 지연님꺼

.post-wrap{
  box-sizing: border-box;
  width: 612px;
  background: #fafafa;
  font-size: 14px;
  section{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    article{
      border: 1px solid #dbdbdb;
      .header{
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 4px 14px 16px;
        .left{
          flex-basis: 80%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
  
          cursor: pointer;
          figure{
            position: relative;
            margin: 0;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            div{
              width: 32px; height: 32px;
              position: absolute;
              top: 10%;
              left: 12%;

              img{width: 100%; border-radius: 50%;}
            }
          }
          span{ margin-left: 14px; font-weight: 600;}
        }
        .right{
          flex-basis: 10%;
          text-align: center;
        }
      }
    }
  }
}

// content
.img-content{
  width: 100%; height: 100%;
  position: relative;
}

    // info
.info{
  .details{
    display: flex;
    flex-direction: column;

    // det1
    .det1{
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 8px 16px;
      line-height: 0.8;
      margin-bottom: 4px;

      // l-icon
      ul{
        display: flex;
        justify-content: space-between;
        align-items: center;

        list-style: none;
        padding: 0;
        margin: 0;
        li{
          display: flex;
          align-items: center;
          // padding: 8px;
          width: 40px; height: 40px;
          font-size: 28px;
          cursor: pointer;
        }
      }
      // r-icon
      .r-icon{
        font-size: 28px;
        // padding: 8px;
        cursor: pointer;
      }
    }
    // det2
    .det2{
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      padding: 0 16px;
      margin-bottom: 8px;
      p{margin: 0;}
      .another-user{
        margin: 2px;
        span{
          display: block;
          width: 20px; height: 20px;
          border-radius: 50%; 
          cursor: pointer;
          img{width: 100%;}
        }
      }
      .text{
        a{
          padding-left: 5px;
          cursor: pointer;
          font-weight: 600;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
    // det3
    .bulletin{
      padding: 0 16px;
      display: flex;
      flex-direction: column;
      margin-bottom: 4px;
      .l-con{font-weight: 600;}
      .btn{
        background: transparent;
        border: 0;
        color:#8e8e8e;
      }
    }
    // det4
    .det4{
      margin-bottom: 4px;
      margin-top: 2px;
      .comment{
        color:#8e8e8e;
        cursor: pointer;
      }
    }
    // det5
    .det5{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
      .comment-1{
        .nick-name{
          font-weight: 600;
          cursor: pointer;
        }
        .record{
          a{
            color: #00376b;
            cursor: pointer;
            text-decoration: none;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
      .small-heart{
        width: 12px; height: 12px;
      }
    }
    //det6
    .det6{
      padding: 0 16px;
      margin-bottom: 16px;
      color: #8e8e8e;
      a{
        font-size: 10px;
        letter-spacing: 0.2px;
      }
    }
    //det7
    .det7{
      padding: 6px 16px;
      border-top: 1px solid #efefef;
      background: #fff;
      form{
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-direction: row;
        .smile{
          height: 24px;
          padding: 8px 16px 8px 0;
        }
        textarea{
          display: flex;
          flex-grow: 1;
          color: rgba(var(--i1d,38,38,38),1);
          border: 0;
          resize: none;
          height: auto;
          padding: 0;
        }

        button{
          color: #0095f6;
          opacity: .3;
          border: 0;
          background: transparent;
          padding: 0;
        }
      }
    }
  }
}








//계정프로필&추천 지화꺼


.profile-card{
  width: 100%;
  padding: 18px 0 10px;
  display: flex;
  align-items: center;
  
  .profile-img{
    width:56px; height:56px;
    margin-right: 12px;
    border-radius: 50%;
    background: rosybrown;
    position: relative;
    
    img{
      width: 100%;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .profile-info{
    width: 195px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
    .profile-id{
      color: rgb(38, 38, 38);
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      padding-bottom: 2px;
    }
    .profile-msg{
      color:rgb(142, 142, 142);
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }
  }
  .btn-trans{
    width: 24px;
    padding: 0; 
    border: none;
    background: none;
    .trans{
      color:#0095f6;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
    }
  }
}

.suggestion{
  width: 293px;
  padding: 0 0 4px;
  .sugg-tit{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: rgb(38, 38, 38);
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    .suggestion-text{
      color: rgb(142, 142, 142);
    }
    .suggestion-more-text{
      color:rgb(38, 38, 38);
      font-size: 12px;
    }
  }
  .sugg-card{
    padding: 0 0 10px;
    .profile-img-wrap{
      margin: 0 auto;
      .profile-img{
        margin: 0 auto;
        width: 32px;
        height: 32px;
        border: 1px solid rgb(212, 212, 212);
        img{
          width: 32px;
        }
      }
    }
    .profile-info{
      width: 210px;
      padding-left: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
        .profile-msg{
          color:rgb(142, 142, 142);
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
        }
      }
    .btn-trans{
      width: 36px;
      padding: 0; 
      border: none;
      background: none;
    }
  }
}

.footer-nav{
  ul{
    list-style: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    padding: 5px 0 0 0;
    display: flex;
    flex-flow: row wrap;    
    li{
      color: rgb(199,199,199);
      padding-bottom: 5px;
      .lang{
        display: none;
      }
    }
    a{
      color: rgb(199,199,199);
      text-decoration: none;
      &::after{
        content: '\00B7';
        margin: 0 0.25em 0 0.25em;
      }
    }
  }
  .copyright{
    text-transform: uppercase;
    color: rgb(199,199,199);
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
  }
}
}