
  
  .every{
    padding-top: 97px;
    justify-content: center;
    background-color: #fafafa;
    display: flex;
    width: 100%;
    overflow-x: hidden;
    

      // Login페이지 좌측에 있는 반응형 부분(핸드폰 부분)
      .mobile{
        background-image: url(https://www.instagram.com/static/images/homepage/home-phones@2x.png/9364675fb26a.png);
        background-position: 0 0;
        background-size: 454px 618px;
        -webkit-flex-basis: 454px;
        -ms-flex-preferred-size: 454px;
        flex-basis: 454px;
        height: 618px;
        margin-left: -45px;
        margin-right: -15px;
      
      }
      .iphone{
        position: absolute;
        width: 170px;
        padding-right: 20px;
      }
      
      // Login페이지 우측에 있는 로그인 부분

      .login{
        text-align: center;
        background-color: rgba(var(255,255,255),1);
        padding-top: 2%;
        
  

        .loginA{
          padding-top: 20px;
          padding-bottom: 10px;
          border: 1px solid #dbdbdb;
          border-radius: 3px;
          background: white;
          
          .instaicon{    
            width: 175px;
            padding-top: 10px;
            padding-bottom: 20px;
          }
          p{
            margin: 8px 0;
           input{
            width: 70%;
            padding: 11px 8px;
            font-size: 12px;
             width:70%;
            padding: 7px 10px;
            font-size:0.8rem;
            border: 1px solid #dbdbdb;
            border-radius: 4px;
            background: #fafafa;
            border-radius: 3px;
           }
          }
          .loginbutton{
            
              input{
                width: 75%;
                padding: 6px 115px;
                font-size: 14px;
                color: white;
                background: #b2dffc;
                font-weight: bolder;
                border: none;
                margin: 8px 40px;
                cursor: pointer;
                border-radius: 4px;
              }
          }
          .line1{
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -webkit-flex-shrink: 1;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            background-color: #dbdbdb;
            height: 1px;
            position: relative;
            top: 0.5rem;
            width: 6rem;
            left: 10px;
            margin-left: 25px;
          }
          .line2{
            -webkit-box-flex: 1;
            -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -webkit-flex-shrink: 1;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            background-color: #dbdbdb;
            height: 1px;
            position: relative;
            left: 220px;
            bottom: 24px;
            width: 6rem;
          }
          
          .or{
            color: #8e8e8e;
            font-weight: bolder;
            font-size: 13px;
            padding-bottom: 15px;
          }
          .facebook{
            color: #385185;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            padding-bottom: 12px;

            .facebookicon{
              width: 14px;
              padding-right: 5px;
              
            }
          }
          .forgot{
            color: #00376B;
            font-size: 12px;
            cursor: pointer;

          }

        }

        .loginB{
          background: white;
          border: 1px solid #dbdbdb;
          border-radius: 3px;
          // margin: 0 0 10px;
          margin-top: 15px;
          padding: 20px 60px;
          font-size: 14px;
              a{
                margin-top: 15px;
              }
              .point{
                color: #0095f6;
                font-weight: 700;
                cursor: pointer;
                
              }
            
          
        }

        .loginC{
          
          p{
            font-size: 14px;
            padding: 5px 0;
          }
          .appstore{
            width: 137px;
            padding-right: 7px;
            cursor: pointer;
          }
          .googleplay{
            width: 137px;
            cursor: pointer;
          }
        }

      }
    
  }


  // Login 하단
  footer{
    padding-top:  85px;
    overflow-x: hidden;
    padding-top:  100px;
    padding-bottom: 65px;
    position: relative;
    align-items: center;
    text-align: center;
    width: 100%;
    background: #fafafa;
    // background-color: darkgreen;
    
    p{
      margin: 5px 0;
      a{
        text-align: center;
        align-items: center;
        color: #8e8e8e;
        font-size: 12px;
        margin-left: 15px;
        cursor: pointer;
      }
      
    }
    
  }

  @media (max-width:876px){
    .mobile{
    display: none;
    }
  }
